* {
    margin: 0;
    padding: 0;

}
body{
    background-color: #d5d5d6;
}
/* Máy tính chuẩn Full HD */
@media screen and  (max-width: 1920px)  { 
    .container {
        width: 1400px;
        margin: auto;
    }
    .topFooter {
        background-color: bisque;
      
        padding: 1%;
    }

    .topFooter {
        display: flex;
    }
    .topFooter >.topFooter-35 {
        width: 29%;
        margin-right: 1%;

    }
    .topFooter > .topFooter-65 {
        width: 69%;
        /* background-color: red; */
        display: flex;
        padding-left: 1%;
    }
    .topFooter-35 > img {
        max-width: 100%;
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }
    .topFooter-65 > .footer-menu {
        width: 20%;
        /* border: 1px solid black; */
        height: 30px;
        
    }
    .title-menu-footer {
        margin-top: 25px;
    }
    .title-menu-footer > a {
        font-size: 16px;
        text-align: left;
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
        color: #116535;
        text-decoration: none;
        margin-bottom: 10px;
    }
    .footer-menu > ul {
        margin-top: 30px;
        list-style: none;
        
    }
    .footer-menu > ul > li {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .footer-menu > ul > li > a {
        text-decoration: none;
        padding-top: 5px;
        color: black;
        font-weight: 500;
        font-size: 16px;
    }
}

/* Máy tính chuẩn HD */
@media screen and  (max-width: 1366px)  {
    .container {
        width: 1366px;
        margin: auto;
    }
    .topFooter {
        background-color: rgb(235, 20, 224);
        height: 90px;
    }


}

/* thiết bị máy tính bảng */

@media screen and  (max-width: 1024px)  {
    .container {
        width: 1024px;
        margin: auto;
    }
    .topFooter {
        background-color: rgb(180, 107, 16);
        height: 90px;
        padding: 10px;
    }


}

/* Thiết bị máy tính bảng nhỏ */
@media screen and  (max-width: 768px)  {
    .container {
        width: 760px;
        margin: auto;
    }
    .topFooter {
        background-color: rgb(32, 88, 92);
        height: 90px;
        padding-left: 10px;
    }


}
/* Thiết bị điện thoại */
@media screen and  (max-width: 375px)  {
    .container {
        width: 360px;
        margin: auto;
    }
    .topFooter {
        background-color: rgb(45, 6, 151);
        height: 90px;
    }


}