* {
    padding: 0;
    margin: 0;
}
body {
    margin: 10px;
    
}
.container {
    margin: auto;
    padding: 0;
}
.bai1  {
    display: flex;
    height: 30px;
    /* background-color: aquamarine; */
    flex-direction: row;
}
.bai1 > div {
    /* border: 0.1px solid black; */
}
.bai1 > .bai1-60 {
    width: 60%;
    height: 30px;
    display: flex;

}
.bai1 > .bai1-40 {
    width: 40%;
    height: 30px;
    /* background-color: red; */
    display: flex;
    
}
.bai1-60 > div {
    width: 20%;
    height: 30px;
    /* border-right: 0.1px solid black; */
    border-left: 0.1px solid black;
    border-top: 0.1px solid black;

}
.bai1-40 > div {
    width: 25%;
    height: 30px;
    border-left: 0.1px solid black;
    border-top: 0.1px solid black;
}
.bai2  {
    display: flex;
    height: 30px;
    /* background-color: aquamarine; */
    flex-direction: row;
}
.bgcolor-9cc2e5 {
    background-color: #9cc2e5;
}
.bai2 {
    display: flex;
    height: 60px;
    /* background-color: red; */
}
.bai2 > .bai2-60 {
    display: flex;
    width: 60%;
    /* height: 30px; */
   
}
.bai2-60 > .bai2-60-40 {
    width: 40%;
    /* height: 30px; */
    background-color: #92d050;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai2-60 > .bai2-60-60 {
    width: 60%;
    /* height: 30px; */
    /* background-color: #a06dda; */
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai2 > .bai2-40 {
    display: flex;
    width: 40%;
    /* height: 30px; */
    background-color: #ffff00;
    border-left: 0.1px solid black;
    border-top: 0.1px solid black;
    border-right: 0.1px solid black;;
}
.bgcolor-ffd966 {
    background-color: #ffd966;
}
.bai3 {
    display: flex;
    height: 30px;
}
.bai3  > .bai3-60 {
    display: flex;
    /* height: 30px; */
    width: 60%;
}
.bai3-60 > div {
    width: 20%;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai3 > .bai3-40 {
    /* height: 30px; */
    width: 40%;
    display: flex;
}

.bai3-40 > div { 
    width: 25%;
    /* height: 30px; */
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}

.bai4 {
    display: flex;
    height: 60px;
}
.bai4 > .bai4-60 {
    display: flex;
    width: 60%;
}
.bai4-60 > .bai4-60-40  {
    display: flex;
    width: 40%;
    height: 60px;
    background-color: #0070c0;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai4-60 > .bai4-60-20 {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.bai4-60-20 >.bai4-60-20-top {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai4-60-20 >.bai4-60-20-bottom {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    /* background-color: blue; */
}
.bai4-40 {
    display: flex;
    width: 40%;
    height: 60px;
}
.bai4-40 > .bai4-40-75 {
    width: 75%;
    height: 60px;
    background-color: #0070c0;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai4-40 > .bai4-40-25 {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-right: 0.1px solid black;
}
.bai4-40-25 > .bai4-40-25-top {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    /* border-right: 0.1px solid black; */
}
.bai4-40-25 > .bai4-40-25-bottom {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    /* border-right: 0.1px solid black; */
}
.bai5 {
    display: flex;
    height: 90px;
}
.bai5 > .bai5-60 {
    display: flex;
    width: 60%;
}
.bai5-60 > .bai5-60-80 {
    width: 80%;
    /* height: 90px; */
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 0.1px solid black;
}
.bai5-60 > .bai5-60-20 {
    width: 20%;
    height: 90px;
    display: flex;
    flex-direction: column;
    
}
.bai5-60-20  > .bai5-60-20-top {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    background-color: red;
}
.bai5-60-20  > .bai5-60-20-mid {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    background-color: red;
}
.bai5-60-20  > .bai5-60-20-bottom {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 0.1px solid black;
    background-color: red;
}
.bai5-40 {
    width: 40%;
    display: flex;
}
.bai5-40 > .bai5-40-25 {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: #a8d08d;
}
.bai5-40-25 >  .bai5-40-25-top  {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai5-40-25 >  .bai5-40-25-mid  {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
}
.bai5-40-25 >  .bai5-40-25-bottom  {
    width: 100%;
    height: 30px;
    border-top: 0.1px solid black;
    border-left: 0.1px solid black;
    border-bottom: 0.1px solid black;
}
.bai5-40 > .bai5-40-75 {
    width: 75%;
    border: 0.1px solid black;
}